# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Photoshop files
*.psd

# Visual Studio files
*.sln
*.VC
*.db
*.vcxproj
*.filters
*.user

# Directives
Debug/
Release/
SFML-2.3.2/
SFML-2.4.2/
x64/
ColorLines/Debug/
ColorLines/Release/
ColorLines/ps/
ColorLines/x64/
ColorLines/save.dat
ColorLines/ScoreTable.dat